@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500;600;700&display=swap');

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: 'Poppins', 'Montserrat', 'Oswald', sans-serif; */
    font-family: 'Playfair Display', 'Times New Roman', Times, serif;
}

body
{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    overflow: hidden;
    /* background: #3d3d3d; */
    /* background-image: url(Images/Img4.jpeg); */
}

#myVideo {
    position: fixed;
    right: 0;
    min-width: 100%;
    min-height: 100%;
  }

.container
{
    position: absolute;
    display: flex;
    transform-style: preserve-3d;
    gap: 10px;
    transform: rotateY(30deg) rotateX(10deg);
}

.text
{
    position: relative;
    width: 100px;
    height: 100px;
    transform-style: preserve-3d;
    transition: 2.5s ease-in-out;
    transition-delay: calc(0.25s * var(--j));
}

.container.newyear .text
{
    transform: rotateX(calc(-360deg * 1));
}

.container.newyear .text:last-child
{
    transform: rotateX(calc(-630deg * 1));
}

.text span
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    /* color: magenta; */
    font-size: 4em;
    cursor: default;
    /* background: linear-gradient(#434343,#535353); */
    background: linear-gradient(
    to right,
    lightskyblue,
    lightgreen,
    lightcyan,
    lightskyblue,
    lightpink
  ); 
    transform-style: preserve-3d;
    transform: rotateX(calc(90deg * var(--i))) translateZ(50px);
}

.text::before
{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #696969;
    transform-origin: left;
    transform: rotateY(90deg) translateX(-50px);
}


.text:first-child span
{
    /* background: linear-gradient(#a0522d, #a0522d); */
    background: linear-gradient(40deg, royalblue 50%, coral 50%);
}

/* .text:first-child::before
{
    background: #a0522d;
} */

.text:nth-child(2) span
{
    /* background: linear-gradient(#00B294, #04668D); */
    background: linear-gradient(40deg, yellowgreen 50%, darkgreen 50%);
}

/* .text:nth-child(2)::before
{
    background: #008080;
} */

.text:nth-child(3) span
{
    /* background: linear-gradient(#FF97B5, #A86BB9); */
    background: linear-gradient(40deg, darkred 50%, black 50%);
    
}

/* .text:nth-child(3)::before
{
    background: #ff4500;
} */

.text:last-child span
{
    /* background: linear-gradient(#FFF100, #00BCF2); */
    background: linear-gradient(40deg, orange 50%, cyan 50%);
}

/* .text:last-child::before
{
    background: #11a728;
} */

h2{
    position: absolute;
    bottom: 100px;
    color: #252525;
    font-size: 2em;
    transition: 0.5s;
    cursor: pointer;
}

h2.active
{
    color: blue;
    text-shadow: 0 0 20px #fff, 0 0 50px cyan;
}

h2:after
{
    content: '_2026';
    transition: 0.5s;
}

h2.active:after
{
    color: magenta;
    text-shadow: 0 0 20px #fff, 0 0 50px cyan;
}

.glowing
{
    position: relative;
    min-width: 750px;
    height: 750px;
    pointer-events: none;
    margin: -150px;
    transform-origin: right;
    animation: colorChange 5s linear infinite;
}

@keyframes colorChange
{
    0%
    {
        filter: hue-rotate(0deg);
        transform: rotate(0deg);
    }
    100%
    {
        filter: hue-rotate(36deg);
        transform: rotate(360deg);
    }
}


.glowing:nth-child(even)
{
    transform-origin: left;
}

.glowing span
{
    position: absolute;
    top: calc(80px * var(--i));
    left: calc(80px * var(--i));
    bottom: calc(80px * var(--i));
    right: calc(80px * var(--i));
    border-radius: 20%;
    box-sizing: border-box;
}

.glowing span::before
{
    content: '';
    position: absolute;
    top: 50%;
    left: -8px;
    border-radius: 20%;
    width: 30px;
    height: 30px;
    background: #f00;
}

.glowing span:nth-child(3n + 1)
{
    animation: animate 10s alternate infinite;
    /* animation: animate 10s alternate infinite; */
}

.glowing span:nth-child(3n + 2)
{
    animation: animate-reverse 13s alternate infinite;
    /* animation: animate-reverse 13s alternate infinite; */
}

.glowing span:nth-child(3n + 3)
{
    animation: animate 8s alternate infinite;
    /* animation: animate 8s alternate infinite; */
}

.glowing span:nth-child(3n + 4)
{
    animation: animate-reverse 16s alternate infinite;
    /* animation: animate-reverse 16s alternate infinite; */
}

@keyframes animate
{
    0%
    {
        transform: rotate(0deg);
    }
    /* 60%
    {
        transform: rotate(240deg);
    } */
    100%
    {
        transform: rotate(360deg);
    }
}

@keyframes animate-reverse
{
    0%
    {
        transform: rotate(360deg);
    }
     /* 60%
    {
        transform: rotate(240deg);
    } */
    100%
    {
        transform: rotate(0deg);
    }
}

.glowing span:nth-child(3n + 1)::before
/* {
    background: rgba(134, 255, 0, 1);
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(134, 255, 0, 1),
    0 0 20px rgba(134, 255, 0, 1),
    0 0 30px rgba(134, 255, 0, 1),
    0 0 40px rgba(134, 255, 0, 1),
    0 0 50px rgba(134, 255, 0, 1),
    0 0 60px rgba(134, 255, 0, 1),
    0 0 70px rgba(134, 255, 0, 1), 
    0 0 80px rgba(134, 255, 0, 1), 
    0 0 90px rgba(134, 255, 0, 1), 
    0 0 0 100px rgba(134, 255, 0, 0.1);
} */
{
    background: rgba(0, 226, 255, 1);
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0, 226, 255, 1), 
    0 0 20px rgba(0, 226, 255, 1),
    0 0 30px rgba(0, 226, 255, 1),
    0 0 40px rgba(0, 226, 255, 1), 
    0 0 50px rgba(0, 226, 255, 1),
    0 0 60px rgba(0, 226, 255, 1),
    0 0 70px rgba(0, 226, 255, 1),
    0 0 80px rgba(0, 226, 255, 1),
    0 0 90px rgba(0, 226, 255, 1),
    0 0 0 100px rgba(0, 226, 255, 0.1);
}

.glowing span:nth-child(3n + 2)::before
/* {
    background: rgba(255, 214, 0, 1);
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(255, 214, 0, 1),
    0 0 20px rgba(255, 214, 0, 1),
    0 0 30px rgba(255, 214, 0, 1),
    0 0 40px rgba(255, 214, 0, 1),
    0 0 50px rgba(255, 214, 0, 1),
    0 0 60px rgba(255, 214, 0, 1),
    0 0 70px rgba(255, 214, 0, 1),
    0 0 80px rgba(255, 214, 0, 1), 
    0 0 90px rgba(255, 214, 0, 1), 
    0 0 0 100px rgba(255, 214, 0, 0.1);
} */

{
    background: rgba(208, 2, 2, 1);
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(208, 2, 2, 1),
    0 0 20px rgba(208, 2, 2, 1),    
    0 0 30px rgba(208, 2, 2, 1),
    0 0 40px rgba(208, 2, 2, 1),
    0 0 50px rgba(208, 2, 2, 1),
    0 0 60px rgba(208, 2, 2, 1),
    0 0 70px rgba(208, 2, 2, 1),
    0 0 80px rgba(208, 2, 2, 1),
    0 0 90px rgb(208, 2, 2, 1), 
    0 0 0 100px rgba(208, 2, 2, 0.1);
}


.glowing span:nth-child(3n + 3)::before
/* {
    background: rgba(208, 2, 2, 1);
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(208, 2, 2, 1),
    0 0 20px rgba(208, 2, 2, 1),    
    0 0 30px rgba(208, 2, 2, 1),
    0 0 40px rgba(208, 2, 2, 1),
    0 0 50px rgba(208, 2, 2, 1),
    0 0 60px rgba(208, 2, 2, 1),
    0 0 70px rgba(208, 2, 2, 1),
    0 0 80px rgba(208, 2, 2, 1),
    0 0 90px rgb(208, 2, 2, 1), 
    0 0 0 100px rgba(208, 2, 2, 0.1);
} */

{
    background: rgba(255, 214, 0, 1);
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(255, 214, 0, 1),
    0 0 20px rgba(255, 214, 0, 1),
    0 0 30px rgba(255, 214, 0, 1),
    0 0 40px rgba(255, 214, 0, 1),
    0 0 50px rgba(255, 214, 0, 1),
    0 0 60px rgba(255, 214, 0, 1),
    0 0 70px rgba(255, 214, 0, 1),
    0 0 80px rgba(255, 214, 0, 1), 
    0 0 90px rgba(255, 214, 0, 1), 
    0 0 0 100px rgba(255, 214, 0, 0.1);
}

.glowing span:nth-child(3n + 4)::before
/* {
    background: rgba(0, 226, 255, 1);
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0, 226, 255, 1), 
    0 0 20px rgba(0, 226, 255, 1),
    0 0 30px rgba(0, 226, 255, 1),
    0 0 40px rgba(0, 226, 255, 1), 
    0 0 50px rgba(0, 226, 255, 1),
    0 0 60px rgba(0, 226, 255, 1),
    0 0 70px rgba(0, 226, 255, 1),
    0 0 80px rgba(0, 226, 255, 1),
    0 0 90px rgba(0, 226, 255, 1),
    0 0 0 100px rgba(0, 226, 255, 0.1);
} */

{
    background: rgba(134, 255, 0, 1);
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(134, 255, 0, 1),
    0 0 20px rgba(134, 255, 0, 1),
    0 0 30px rgba(134, 255, 0, 1),
    0 0 40px rgba(134, 255, 0, 1),
    0 0 50px rgba(134, 255, 0, 1),
    0 0 60px rgba(134, 255, 0, 1),
    0 0 70px rgba(134, 255, 0, 1), 
    0 0 80px rgba(134, 255, 0, 1), 
    0 0 90px rgba(134, 255, 0, 1), 
    0 0 0 100px rgba(134, 255, 0, 0.1);
}
